<header>
  <app-navbar></app-navbar>
</header>
<div class="book-details-container">
  <div class="book-content">
    <!-- Imagen del libro -->
    <div class="book-image-container">
      <img src="cover/{{ image }}" alt="Book Img" class="book-image">
    </div>
    
    <!-- Detalles del libro -->
    <div class="book-info">
      <h1 class="book-title">{{ titulo }}</h1>
      <p class="book-genero"><strong>Género:</strong> {{ genero }}</p>
      <p class="book-author"><strong>Autor:</strong> {{ autores }}</p>
      <p class="book-editorial"><strong>Editorial:</strong> {{ editorial }}</p>
      <p class="book-cantidad"><strong>Cantidad:</strong> {{ cantidad }}</p>
    </div>
  </div>
</div>
