<nav aria-label="Page navigation" class="d-flex justify-content-center">
  <ul class="pagination mb-0">
    <!-- Botón de Página Anterior -->
    <li class="page-item" [class.disabled]="page === 1">
      <button class="page-link prev-next" (click)="goToPage(page - 1)" aria-label="Previous">
        &laquo;
      </button>
    </li>
    
    <!-- Botones de Páginas -->
    <li *ngFor="let pageNumber of range" class="page-item" [class.active]="page === pageNumber">
      <button class="page-link page-number" (click)="goToPage(pageNumber)">
        {{ pageNumber }}
      </button>
    </li>
    
    <!-- Botón de Página Siguiente -->
    <li class="page-item" [class.disabled]="page === pages">
      <button class="page-link prev-next" (click)="goToPage(page + 1)" aria-label="Next">
        &raquo;
      </button>
    </li>
  </ul>
</nav>
