

<div class="container d-flex justify-content-center align-items-start pt-5">
    <div class="card p-4 shadow-sm" style="width: 100%; max-width: 800px;">
            
        <!-- Header -->
        <app-header></app-header>
         <!-- Page Title -->
        <h3 class="page-title mb-4 fw-bold">Users</h3>

        <!-- Filter Buttons -->
        <div class="mb-4">
            <button class="btn btn-light filter-button fw-bold" onclick="filterUsers('all')">All</button>
            <button class="btn btn-light filter-button fw-bold" onclick="filterUsers('user')">Users</button>
            <button class="btn btn-light filter-button fw-bold" onclick="filterUsers('librarian')">Librarians</button>
            <button class="btn btn-light filter-button fw-bold" onclick="filterUsers('admin')">Admins</button>
        </div>

        <app-see-user></app-see-user>

    </div>

</div>
   

            
