export PORT = 7000

#Database configuration
export DATABASE_PATH = C:\Users\MegaTecnologia\Documents\Programacion_I-Sebastian_Fernandez\backend\DB
export DATABASE_NAME = biblioteca.db

#JWT configuration
export JWT_SECRET_KEY = 'clave-secreta-de-la-app'
export JWT_ACCESS_TOKEN_EXPIRES = 3600#Segundos

#Mail configuration
#Mail Server adress
export MAIL_SERVER = 'smtp.gmail.com'
export MAIL_PORT = '587'
export MAIL_USE_TLS = 'True'
export MAIL_USERNAME = 'name@mail.com'
export MAIL_PASSWORD = 'pass'
#Mail FROM name
export FLASKY_MAIL_SENDER = 'App Name Admin <admin@appname.com>