<div class="card">
  <div class="book-header">
    <img [src]="image" class="book-image" alt="{{ title }}">
    <div class="book-info">
      <h4 class="mb-0 text-dark">{{ title }}</h4>
    </div>
  </div>

  <div class="card-body">
    <div class="button-group">
      <button class="btn btn-outline-danger" (click)="onDeleteBook()">
        <i class="bi bi-trash-fill"></i>
      </button>
      <button class="btn btn-outline-primary" (click)="onEditBook()">
        <i class="bi bi-pencil-fill"></i>
      </button>
    </div>

    <!-- Contenedor para los botones Pedir e Información -->
    <div class="button-group-actions">
      <button class="btn btn-success" (click)="onRentBook()">
        <i class="bi bi-cart-plus-fill"></i> Pedir
      </button>
      <button class="btn btn-info" (click)="toggleInfo()">
        <i class="bi bi-info-circle-fill"></i> Información
      </button>
    </div>

    <!-- Mini pestaña que se muestra/oculta -->
    <div class="info-tab" [ngClass]="{ 'open': showInfo }">
      <p><strong>Reseña:</strong> {{ review }}</p>
      <p><strong>Cantidad Restante:</strong> {{ quantity }}</p>
      <p><strong>Autor:</strong> {{ author }}</p>
    </div>
  </div>
</div>
