<div class="container-form pt-5 "> <!-- Contenedor principal que necesito centrar -->
  <!-- Panel Azul -->
  <div class="information">
    <div class="info-childs">
      <h2>Prestamos de usuarios</h2>
      <p>Detalles e informacion de los prestamos.</p>
    </div>
  </div>

  <!-- Formulario -->
  <div class="form-information">
    <div class="form-information-childs p-4">

      <!-- Filtros -->
      <div class="filter-section mb-4 p-3 rounded shadow-sm">
        <h5 class="fw-bold mb-3">Filtros</h5>
        <div class="row g-2">
          <div class="col-lg-3 col-md-6 mb-2">
            <label for="fechaEntrega" class="form-label">
              <i class='bx bx-calendar'></i>
              Fecha de Entrega
            </label>
            <input type="date" id="fechaEntrega" class="form-control" [(ngModel)]="filters.fecha_entrega" (change)="filterRents()">
          </div>
          <div class="col-lg-3 col-md-6 mb-2">
            <label for="fechaDevolucion" class="form-label">
              <i class='bx bx-calendar'></i>
              Fecha de Devolución
            </label>
            <input type="date" id="fechaDevolucion" class="form-control" [(ngModel)]="filters.fecha_devolucion" (change)="filterRents()">
          </div>
          <div class="col-lg-3 col-md-6 mb-2">
            <label for="libroID" class="form-label">
              <i class='bx bx-book'></i>
              ID del Libro
            </label>
            <input type="text" id="libroID" class="form-control" placeholder="Ej. 123" [(ngModel)]="filters.libroID" (input)="filterRents()">
          </div>
          <div class="col-lg-3 col-md-6 mb-2">
            <label for="usuarioID" class="form-label">
              <i class='bx bx-user'></i>
              ID del Usuario
            </label>
            <input type="text" id="usuarioID" class="form-control" placeholder="Ej. 456" [(ngModel)]="filters.usuarioID" (input)="filterRents()">
          </div>
        </div>
      </div>

      <!-- Lista de libros alquilados -->
      <div class="book-list-scroll mb-3">
        <div *ngFor="let rent of rents">
          <app-see-rents
            title="{{ rent.libro.titulo || 'Libro no disponible'}}"
            user="{{rent.usuario.usuario_nombre + ' ' + rent.usuario.usuario_apellido}}"
            [daysLeft]="rent.daysLeft"
            image="{{ rent.libro.image }}">
          </app-see-rents>
        </div>
      </div>

      <!-- Mensaje si no se encuentran libros -->
      <div *ngIf="rents.length === 0" class="alert alert-warning" role="alert">
        No se encontraron préstamos.
      </div>

      <app-paginate [page]="page" [pages]="pages" (pageChange)="getRents($event)"></app-paginate>
      <!-- Paginación -->
    </div>
  </div>
</div>
