<nav class="navbar navbar-light bg-light px-3">
  <!-- Left section: Biblioteca title -->
  <a class="navbar-brand font-weight-bold text-black" href="#">Biblioteca</a>

  <!-- Right next to the title: Usuarios and Préstamos buttons -->
  <div class="d-flex align-items-center me-auto">
    @if (isAdmin || isLibrarian){
    <a routerLink="/users" href="#" *ngIf="isToken" class="btn btn-outline-dark me-2" style="border-radius: 15px;">
      <i class="bi bi-people-fill"></i> Usuarios
    </a>
    <a routerLink="/librarian-rents" href="#" *ngIf="isToken" class="btn btn-outline-dark me-2" style="border-radius: 15px;">
      <i class="bi bi-journal-bookmark-fill"></i> Préstamos
    </a>
  }
  </div>

  <!-- Right section: Login, Register, Dropdown Menu, and Logout -->
  <div class="d-flex ms-auto">
    <a routerLink="/login" href="#" *ngIf="!isToken" class="btn btn-outline-dark me-2" style="border-radius: 15px;">
      <i class="bi bi-box-arrow-in-right"></i> Login
    </a>
    <a routerLink="/register" href="#" *ngIf="!isToken" class="btn btn-outline-dark me-2" style="border-radius: 15px;">
      <i class="bi bi-pencil-square"></i> Register
    </a>
    
    <!-- Dropdown Menu -->
    <div class="dropdown me-2">
      <button *ngIf="isToken" class="btn btn-outline-dark" style="border-radius: 15px;" type="button" id="userMenu" (click)="toggleDropdown()">
        <i class="bi bi-list"></i> Menú
      </button>
      <ul class="dropdown-menu dropdown-menu-end" [ngClass]="{'show': isDropdownOpen}" aria-labelledby="userMenu" style="min-width: 200px;">
        <li><a class="dropdown-item" routerLink="/notifications"><i class="bi-bell-fill me-2"></i> Notificaciones</a></li>
        <li><a class="dropdown-item" routerLink="/rents"><i class="bi bi-basket-fill me-2"></i> Alquileres</a></li>
        <li><a class="dropdown-item" routerLink="/configuration"><i class="bi bi-gear me-2"></i> Configuración</a></li>
        <li><a class="dropdown-item" routerLink="/profile"><i class="bi bi-person-fill me-2"></i> Perfil</a></li>
      </ul>
    </div>

    <!-- Logout Button -->
    <a href="#" *ngIf="isToken" class="btn btn-outline-dark" (click)="cerrarSesion()" style="border-radius: 15px;">
      <i class="bi bi-box-arrow-right"></i> Cerrar sesión
    </a>
  </div>

  <!-- Divider line -->
  <hr style="width: 100%; height: 1px; background-color: #333333; margin-top: 10px;">
</nav>
