<nav class="navbar navbar-light bg-light px-3">
    <a class="navbar-brand font-weight-bold text-black" href="#">Biblioteca</a>
    <a routerLink ="/notifications" href="#" class="text-black" style="font-size: 1.2rem;"><i class="bi-bell-fill"></i></a>
        <a routerLink ="/rents" href="#" class="text-black" style="font-size: 1.2rem;"><i class="bi bi-basket-fill"></i></a>
        <a routerLink ="/configuration" href="#" class="text-black" style="font-size: 1.2rem;"><i class="bi bi-gear"></i></a>
        <a routerLink ="/profile" href="#" class="text-black" style="font-size: 1.2rem;"><i class="bi bi-person-fill"></i></a>
    <div class="d-flex">
        <a routerLink ="/login" href="#" class="btn btn-outline-dark me-3" style="border-radius: 20px; margin-right: 15px;">
            <i class="bi bi-box-arrow-in-right"></i> Login
        </a>
        <a routerLink ="/register" href="#" class="btn btn-outline-dark ms-3" style="border-radius: 20px; margin-left: 15px;">
            <i class="bi bi-pencil-square"></i> Register
        </a>
    </div>
  </nav>
