<header>
  <!-- Barra de navegación -->
  <app-navbar></app-navbar>

  <!-- Barra de búsqueda -->
  <div class="container mt-3 mb-3">
    <div class="input-group">
      <span class="input-group-text bg-white border border-secondary border-end-0" style="border-radius: 20px 0 0 20px;">
        <i class="bi bi-search"></i>
      </span>
      <input type="text" class="form-control border border-secondary border-start-0 search-bar" 
             placeholder="Buscar por título, autor, etc." 
             [(ngModel)]="searchQuery" 
             (input)="filterBooks()" 
             style="border-radius: 0 20px 20px 0;">
    </div>
  </div>
</header>

<main class="container mt-4 mb-5">
  <!-- Grid de libros -->
  <div class="row">
    <!-- Se itera sobre los libros filtrados -->
    <div class="col-12 col-sm-6 col-lg-4 mb-4" *ngFor="let book of filteredBooks">
      <app-book
      [title]="book.titulo"
      [author]="book.autores?.[0]?.autor_nombre + ' ' + book.autores?.[0]?.autor_apellidos || 'Autor desconocido'"
      [quantity]="book.cantidad"
      [review]="book.resenas?.[0]?.resena || 'No hay reseñas disponibles'"
      [image]="book.image">
    </app-book>
    </div>
  </div>
</main>
<app-paginate [page]="page" [pages]="pages" (pageChange)="getBooks($event)"></app-paginate>

