<footer class="footer">
    <div class="container">
      <div class="footer-section">
        <h5>Información de contacto</h5>
        <p>Email: contacto&#64;biblioteca.com</p>
        <p>Teléfono: +1 (234) 567-8901</p>
      </div>
      <div class="footer-section">
        <h5>Enlaces útiles</h5>
        <ul>
          <li><a routerLink="/">Inicio</a></li>
          <li><a routerLink="/about">Acerca de</a></li>
          <li><a routerLink="/contact">Contacto</a></li>
        </ul>
      </div>
      <div class="footer-section">
        <h5>Síguenos</h5>
        <p><a href="https://twitter.com/biblioteca" target="_blank">Twitter</a></p>
        <p><a href="https://facebook.com/biblioteca" target="_blank">Facebook</a></p>
        <p><a href="https://instagram.com/biblioteca" target="_blank">Instagram</a></p>
      </div>
    </div>
  </footer>
  