footer {
    background-color: #f8f9fa; /* Color de fondo */
    color: #343a40; /* Color del texto */
}

.footer-section h5 {
    font-weight: bold;
    margin-bottom: 15px;
}

.footer-section ul {
    list-style-type: none;
    padding: 0;
}

.footer-section a {
    text-decoration: none; /* Sin subrayado */
    color: #007bff; /* Color de enlaces */
}

.footer-section a:hover {
    text-decoration: underline; /* Subrayar en hover */
}
