<nav class="navbar navbar-light fixed-bottom navbar-bottom">
    <div class="container d-flex justify-content-around align-items-center" style="height: 100%;">
        <a routerLink ="/notifications" href="#" class="text-white" style="font-size: 1.2rem;"><i class="bi-bell-fill"></i></a>
        <a routerLink ="/rents" href="#" class="text-white" style="font-size: 1.2rem;"><i class="bi bi-basket-fill"></i></a>
        <a routerLink ="/configuration" href="#" class="text-white" style="font-size: 1.2rem;"><i class="bi bi-gear"></i></a>
        <a routerLink ="/profile" href="#" class="text-white" style="font-size: 1.2rem;"><i class="bi bi-person-fill"></i></a>
    </div>
  </nav>
