.back-link {
    font-weight: bold;
    font-size: 1rem; /* Aumentamos un poco el tamaño */
    color: #333; /* Un tono más suave que negro puro */
    transition: color 0.3s ease;
}

.back-link:hover {
    color: #555; /* Ligero cambio de color en hover */
}

.logo {
    width: 55px; /* Un poco más grande */
    height: 55px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #343a40; /* Un borde más claro para mejor contraste */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.logo:hover {
    transform: scale(1.1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra ligera en hover */
}

.header {
    padding: 10px 0; /* Añade algo de espacio superior e inferior */
}
