<div class="row">
  <div id="Book-list" style="max-height: 700px; overflow-y: auto;">
    <div *ngFor="let loan of loans; let i = index" class="col-12 mb-3">
      <div class="card loan-card">
        <div class="book-header d-flex align-items-center">
          <img [src]="loan.imageUrl" class="book-image" alt="{{ loan.title }}">
          <div class="book-info ms-3">
            <h5 class="fw-bold mb-0">{{ loan.title }}</h5>
            <p class="text-muted">{{ loan.author }}</p>
            <p>Días restantes: {{ calculateDaysLeft() }}</p>
            <p class="text-muted">
              Alquilado por: 
              {{ (loan.usuario?.usuario_nombre + ' ' + loan.usuario?.usuario_apellido) || 'Usuario desconocido' }}
            </p>
            <div *ngIf="isAboutToExpire()" class="alert alert-warning" role="alert">
              ¡Este préstamo está a punto de vencer!
            </div>
          </div>
        </div>

        <div class="card-body">
          <div class="button-group">
            <button class="btn btn-outline-danger" (click)="deleteLoan(i)">
              <i class="bi bi-trash-fill"></i> Eliminar
            </button>
            <button class="btn btn-outline-primary" (click)="openRenewModal(loan)">
              <i class="bi bi-pencil-fill"></i> Renovar
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal para renovar préstamo -->
<div class="modal fade" id="renewLoanModal" tabindex="-1" aria-labelledby="renewLoanModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="renewLoanModalLabel">Renovar Préstamo</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form *ngIf="selectedLoan" (ngSubmit)="renewLoan()">
          <div class="mb-3">
            <label for="daysLeft" class="form-label">Días restantes</label>
            <input type="number" class="form-control" id="daysLeft" [(ngModel)]="daysLeft" name="daysLeft" required min="1">
          </div>
          <button type="submit" class="btn btn-primary">Confirmar</button>
        </form>
      </div>
    </div>
  </div>
</div>